<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<div class='row'>
     <div class='well col-md-12 col-md-offset-0'>
   <%= image_tag "serler.jpg", :width => '150', :height =>'150' %>
  
  </div>
  
  
    
  
</div>
   
      
      
     

  
     
        
      
          
       
      
 
           
          
  <% render 'layouts/messages'%>
  <% flash.each do |key, value| %>
      <p> <%= value %> </p>
      
     <% end %>
  
<%= yield %>
</header>
</div>
</body>
</html>
